body{
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container { 
max-width: 1128px;
margin: 0 auto;
}


.header .container{
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.logo{
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;

}


.logo-studio{
    color: #2E2F42;
}

.nav{
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.nav-item{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-item:hover{
    color: #404bbf;
}

.nav-item:focus{
    color: #404bbf;
}

.contacts{
    font-style: normal;
}

.contacts-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.contacts-item{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-item:hover{
    color: #404bbf;
}

.contacts-item:focus{
    color: #404bbf;
}

.main-intro{
    background-color: #2E2F42;
    padding: 188px 0;
    text-align: center;
}

.main-intro-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 48px;
}

.main-intro--button{
    background: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.main-intro--button:hover{
    background-color: #404BBF
}

.main-intro--button:focus{
    background-color: #404BBF
}

.main-values{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.values-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.values-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin: 0 0 8px;
    color: #2e2f42;
}

.values-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin: 0;
}

.main-employees{
    background-color: #F4F4FD;
    margin: 0 auto;
}

.main-employees{
    padding: 120px 0;
}

.employees-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 0 72px;
    color: #2e2f42;
    text-transform: capitalize;
}

.employees-name{
    font-weight: 500;
    font-size: 20px; 
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 32px 0 8px;
    color: #2e2f42;
}

.employees-role{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}

.employees-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.employees-item{
    text-align: center;
    background: #FFFFFF;
}

.our-portfolio{
    padding: 120px 0;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 0 72px;
    text-transform: capitalize;
    color: #2E2F42;
}

.portfolio-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin: 32px 0 8px;
    color: #2e2f42;;
}

.portfolio-category{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin: 16px 0 0;
}

.logo-studio-footer{
    color: #f4f4fd;
}