body{
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img{
    display: block;
}

.container { 
    max-width: 1158px;
    margin: 0 auto;
}

.header{
    border-bottom: 1px solid #e7e9fc;
}

.header .container{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.logo{
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5; 
}


.logo-studio{
    color: #2E2F42;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    margin-right: 76px;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.nav-item{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
}

.nav-item:hover{
    color: #404bbf;
}

.nav-item:focus{
    color: #404bbf;
}

.contacts{
    font-style: normal;
}

.contacts-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 24px 0;
}

.contacts-item{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-item:hover{
    color: #404bbf;
}

.contacts-item:focus{
    color: #404bbf;
}

.main-intro{
    background-color: #2E2F42;
    padding: 188px 0;
    text-align: center;
}

.main-intro-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto 48px;
}

.main-intro--button{
    background: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
}

.main-intro--button:hover{
    background-color: #404BBF
}

.main-intro--button:focus{
    background-color: #404BBF
}

.main-values{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.values-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.values-item{
    width: calc((100% - 72px) / 4);
}

.values-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin: 0 0 8px;
    color: #2e2f42;
}

.values-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin: 0;
}

.main-employees{
    background-color: #F4F4FD;
    margin: 0 auto;
}

.main-employees{
    padding: 120px 0;
}

.employees-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 0 72px;
    color: #2e2f42;
    text-transform: capitalize;
}

.employees-name{
    font-weight: 500;
    font-size: 20px; 
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}

.employees-role{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}

.employees-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.employees-item{
    text-align: center;
    background: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.employee-info{
    padding: 32px 0;
}

.our-portfolio{
    padding: 120px 0;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 0 72px;
    text-transform: capitalize;
    color: #2E2F42;
}

.portfolio-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item{
    width: calc((100% - 48px) / 3);
}

.portfolio-info{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
}

.portfolio-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin: 32px 0 8px;
    color: #2e2f42;;
}

.portfolio-category{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer a{
    display: inline-block;
    margin: 0 0 16px;
}

.footer-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin: 0;
}

.logo-studio-footer{
    color: #f4f4fd;
}